body, html {
    margin-left:1%;
    margin-right:1%;
    margin-bottom:1%;
    margin-top:1%;
    text-align: center;
    }
/*mobile*/
    
.slider{
    width: 100%;
    height: 100px;
}

#code{
    width: 100%;
}
/*desktop*/
@media only screen and (min-width: 768px){
    .slider{
        width: 70%;
    }
    
    #code{
        width: 70%;
    }
}
/*everything*/

#code{
    background-color: rgb(35, 39, 46);
    color: rgb(224, 99, 90);
    /*idk vscode autocompleted this*/
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

