body{
    
    text-align: center;
    animation-name: appear;
    animation-duration: 1s;
}
h1{
    color: rebeccapurple;
}
#output{
    width: 60%;
    height: 40%;

    color: rgb(111, 252, 76);
    background-color: rgb(70, 70, 70);
}

#confirmMsg{
    animation-name: appear;
    animation-duration: 5s;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

@keyframes appear{
    from{opacity: 0%;}
    tp{opacity: 100%;}
}